@model RecipeListViewModel;
@{
    ViewBag.Title = "Recipes - ReciPedia";
}

<div class="offset-md-1" style="padding-left: 14px;">
    <h3>Recipes</h3>
</div>
<br />
<form asp-controller="Home" asp-action="RecipeList" method="post">
    <div class="col-md-10 offset-md-1">
        <table style="width: 100%">
            <tr>
                <td width="40%">
                    <input type="text" name="searchingString" class="form-control" placeholder="Search">
                </td>
                <td>
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                </td>
                <td width="30%" class="offset-md-10">
                    @Html.DropDownList("Category", new SelectList(Enum.GetValues(typeof(Recipes.Models.ViewModels.RecipeListViewModel.CategoryType))),
                                         "Category", new { @class = "form-control", @onchange = "this.form.submit();" })
                </td>
            </tr>
        </table>
    </div>
</form>
<div class="col-md-10 offset-md-1 FilterTools">
    <table class="table table-responsive-md table-hover">
        <thead class="table thead-light">
            <tr>
                <td width="70%">Name</td>
                <td width="30%">Category</td>
            </tr>
        </thead>
        <tbody class="table-hover tbody tr:hover">
            @foreach (var s in Model.Recipes)
            {
                <tr>
                    <td width="70%"><a class="listRecipe" asp-action="ViewRecipe" asp-controller="Home" asp-route-id="@s.RecipeID">@s.Name</a></td>
                    <td width="30%">@s.Category</td>
                </tr>
            }
        </tbody>
    </table>
</div>
    
<br />
<div class="text-center"
     page-model="@Model.PagingInfo"
     page-action="RecipeList"
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-light"
     page-class-selected="btn-primary">
</div>
<br />
<span class="float-right">
    <a asp-controller="Admin" asp-action="AddRecipe"><i class="fa fa-plus-circle fa-4x"></i></a>
</span>